<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de productos</title>
</head>

<body>
    <h1>lista de productos </h1>
    <ul>
        {{#each productos}}
        <li>Nombre: {{this.title}}</li>
        <li>Precio: {{this.price}}</li>
        <li>Descripción: {{this.description}} </li>
        {{/each}}
    </ul>
</body>

</html>