<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="chat-messages">
        <!-- Aquí se mostrarán los mensajes -->
    </div>
    <form id="message-form">
        <input type="email" id="user-email" placeholder="Correo electrónico">
        <input type="text" id="message-input" placeholder="Mensaje">
        <button type="submit">Enviar</button>
    </form>
<script>
    
</script>
</body>
</html>